.home__pageTitle {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;

}

.register, .login {
    width: 400px;
    margin: auto
}

.register__loading {

}